*{
	margin: 0;
	padding: 0;
}
body {
	background: lightgray;
	font-family: 'Patrick Hand', cursive;
}
.container{
	width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction:column;
	align-items:center;
	font-size: 14px;
}

section{
	padding: 15vh 0px;																																																																																																																																				
}

h2{
	padding-top: 40px;
}

h3{
	text-align: left;
	width: 150px;
}

.art-todolist, .art-completed{
	margin-top: 20px;
}
.raya-align{
	border-top:2px solid black; 
	width: 300px;
	display: flex;
	justify-content:space-between;
}

input, a, label{
	margin-top: 10px;

}
input{
	border-radius: 5px;
	border-style:none;
	line-height: 28px;
	width: 85%;
}
input:focus{
  outline: none;
}
label {
	font-size: 18px;
	width: 70%;
	
}

.check{
	margin: 0;
	width: 10%;
}

a{
	text-decoration: none;
	padding: 8px;
}
a:visited{
	color:gray;
}
a:hover {
  color: peru;
}

.completed {
	text-decoration: line-through;
}

.todo-list{
	width: 100%;
}
